{% include header.html %}
	<div class="twelve columns" id="contact" style="background-color:#3a3a3a">
		<div style="Padding: 20px; margin-left: auto; margin-right: auto;">
		<h2>Contact Info</h2>
		<ul>
			<li><h4> Email:</h4>
				<ul>
					<li>Preferred: <a href="mailto:ndouglascampbell@gmail.com">ndouglascampbell@gmail.com</a></li>
					<li>Alternative: <a href="mailto:dougingermany@gmail.com">dougingermany@gmail.com</a></li>
				</ul>
			</li>
			<li><h4>Phone #: </h4>
				<ul>
					<li><p>Cell: (317) 523-3145</p></li>
				</ul></li>
			<li><h4>Instant Messaging:</h4></li>
				<ul>
					<li>AIM: Doug.Campbell99</li>
					<li>Google Talk: dougingermany@gmail.com</li>
					<li>Jabber: doug@whatthejabber.me</li>
				</ul>
				<br />
			<li><h4><a href="http://www.linkedin.com/pub/n-douglas-campbell/57/896/399">LinkedIn</a></h3></li>
			 
			<li><h4><a href="https://www.facebook.com/Douglas.Campbell99">Facebook</a></h3></li>
			</ul>
		</div>
	</div><!--end contact-->
{% include footer.html %}
